.contacts-form {
    margin-top: 12.5%;
    margin-bottom: 12.5%;
}

.contacts-form .card {
    border-radius: 35px;
    height: 300px;
    border: 1px solid rgba(159, 159, 159, 0.601);
}

.contacts-form p {
    text-align: left;
}

@media screen AND (max-width: 991px) {
    .order-md-last, .order-sm-last, .order-last {
        margin-top: 50px;
    }
}