.card-index-profile {
    border: 1px solid rgb(209, 209, 209);
    margin-left: 20%;
    margin-top: 5%;
    width: 50%;
}
.p-my-profile {
    font-size: 32px;
    margin-left: 2%;
    margin-top: 1%;
}
.user-email {
    color:rgb(131, 131, 131)
}

#avg_users {
    width: 400px; 
}

@media screen and (max-width: 992px) and (min-width: 767px){
    .card-index-profile {
        margin: 0 auto;
        border: 1px solid rgb(209, 209, 209);
        background: rgba(231, 235, 219, 0.808);
        width: 60%;
    }
    #avg_users {
        width: 300px; 
    }
    .card-body {
        text-align: left;
    }
}
@media screen and (max-width: 768px) and (min-width: 577px){
    .card-index-profile {
        margin: 0 auto;
        border: 1px solid rgb(209, 209, 209);
        background: rgba(231, 235, 219, 0.808);
        width: 70%;
    }
    #avg_users {
        width: 300px; 
    }
    .card-body {
        text-align: left;
    }
}
@media screen and (max-width: 576px) and (min-width: 321px){
    .card-index-profile {
        margin: 0 auto;
        border: 1px solid rgb(209, 209, 209);
        background: rgba(231, 235, 219, 0.808);
        width: 90%;
    }
    #avg_users {
        width: 275px; 
    }
    .card-body {
        text-align: left;
    }
}
@media screen and (max-width: 320px) and (min-width: 0px){
    .card-index-profile {
        margin: 0 auto;
        border: 1px solid rgb(209, 209, 209);
        background: rgba(231, 235, 219, 0.808);
        width: 90%;
    }
    #avg_users {
        width: 250px; 
    }
    .card-body {
        text-align: left;
    }
}
#dtBasicExample {
    word-break: break-all;
}


.nav-profile ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
}

@media screen and (max-width: 1412px) {
    .nav-profile ul {
        list-style-type: none;
        margin: 0;
        padding: 0px;
        width: 15%;
        position: fixed;
        height: 100%;
        overflow: auto;
    }
}

.nav-profile li>a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
}

.nav-profile li>.active {
    background-color: #0d6efd;
    border-radius: 1.25rem 0.25rem 1.25rem 0.25rem;
}

.nav-profile li>.nav-profile-item>a{
    color: white;
}

.nav-profile li>a:hover:not(.active) {
    background-color: #0d6dfd43;
    color: white;
    border-radius: 1.25rem 0.25rem 1.25rem 0.25rem;
}

.nav-profile ul{
    background-color: #212529;
}
.nav-profile {
    margin-top: 60px;
}
.main-profile {
    margin-left:15%
}
@media screen and (max-width: 992px) {
    .nav-profile ul {
        display: none;
    }   
    .main-profile {
        text-align: center;
        margin-left:0%;
    }
}
@media screen and (min-width: 993px) {
    .navbar-brand {
        margin-left: 8px;
    }
}

.nav-profile li>a>div>span {
    margin-left: 1px;
}

.adm:hover {
    background-color: #141414;
    color: white;
    border-radius: 1.25rem 0.25rem 1.25rem 0.25rem;
}