/*
    ------------------------------------------
                     система
    ------------------------------------------
*/
body {
    background: #ecf0f2;
}

* {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    cursor: pointer;
}


.wrap {
    width: 830px;
    margin: auto;
    flex-wrap: wrap;
}

::selection {
    background: #3390ff;
    /* Safari */
    color: white;
}

::-moz-selection {
    background: #3390ff;
    /* Firefox */
    color: white;
}

.question {
    display: none;
}

.test-data {
    margin: 0 0 20px 0;
}

.q {
    border-bottom: 1px solid #adadad;
    font-weight: bold;
}

.a {
    padding: 5px 0;
}

.none {
    display: none;
}

.count-res {
    margin: 0 0 20px 0;
    border-bottom: 1px dotted #ccc;
}

.question-res {
    margin: 0 0 10px 0;
    padding: 5px;   
    border: 1px dotted #ccc;
}

.ok {
    background: #cfe6ccd3;
    color: #7F5354;
}

.error {
    background: #e6c6c6c7;
    color: #7F5354;
}

.ok2 {
    color: green;
}

.error2 {
    text-decoration: line-through;
    color: #ff0000;
}

.ok .q{
    color: rgb(0, 93, 0);
}

.error .q{
    color: #6a0000;
}

.btn-next {
    float: left;
}

    .tests-container {
        max-width: 1200px;
        padding: 30px;
        margin-top: -30px;
    }

.card-test {
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background: #ecf0f2;
}

.card-img-test {
    width: 15rem;
    height: 15rem;
    filter: brightness(50%);
    border-radius: 10%;
    object-fit: cover;
    position: relative;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.test-name-for-img {
    position: absolute;
    text-align: left;
    padding: 15px;
    margin-left: 5px;
    margin-top: 0px;
    color: #fff;
    font-size: 24px;
    word-break: break-all;
}

.test-date-for-img {
    color: #000;
    font-size: 14px;
}
.test-date-img {
    margin-left: 5px;
}
.test-author-for-img {
    margin-left: 5px;
    font-size: 14px;
}
.card-img-test:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.test-name-for-img:hover {
    color: #c2bc77
}
.test-name {
    color: #000;
}
.test-name:hover {
    color: #c2bc77
}

.survey-graphs {
    width: 400px; 
    height: 200px;
}

.survey-stats-table {
    width: 400px; 
    height: 100%;
}

.test_description {
    text-align: left;
    color: rgb(61, 61, 61);
    font-size: 14px;
    height: 2.5rem;
    overflow: hidden;
	position: relative;
}

.test_description:after {
	content: "";
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 70%;
	height: 1.2em;
	background: linear-gradient(to right, rgba(61, 61, 61, 0), #ecf0f2 100%);
	pointer-events: none;
}

.card-test .card-body {
    padding: 12px;
}

.btn {
    border-radius: 10px;
}

.btn-outline-primary:hover {
    background-color: #5a7ce2;
    border-color: #5a7ce2;
    color: #fff;
}

@media screen and (max-width: 450px) and (min-width: 351px){
    .survey-graphs {
        width: 300px; 
        height: 150px;
    }

    .survey-stats-table {
        width: 300px; 
        height: 100%;
    }
}

@media screen and (max-width: 350px) and (min-width: 0px){
    .survey-graphs {
        width: 200px; 
        height: 100px;
    }

    .survey-stats-table {
        width: 200px; 
        height: 100%;
    }
}

@media screen and (min-width: 397px){
    #btn-show-stats {
        margin-left: 1%;
    }
}

.survey_bg_ty {
    background: #9ad35f; 
    height: 40px;
}

@media screen and (min-width: 269px) and (max-width: 445px){
    .survey_bg_ty {
        background: #9ad35f; 
        height: 80px;
    }
}

@media screen and (min-width: 0px) and (max-width: 268px){
    .survey_bg_ty {
        background: #9ad35f; 
        height: 120px;
    }
}










