body {
    background: rgb(215, 233, 218);
}

.test_description {
    text-align: left;
    color: rgb(61, 61, 61);
    font-size: 14px;
    height: 2.5rem;
    overflow: hidden;
	position: relative;
}

.test_description:after {
	content: "";
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 70%;
	height: 1.2em;
	background: linear-gradient(to right, rgba(61, 61, 61, 0), rgb(211, 240, 218) 100%);
	pointer-events: none;
}