* {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    cursor: pointer;
}

.card-create {
    padding: 15px;
    margin-top: 50px;
    background: rgb(207, 231, 235);
}

.answers {
    padding:15px;
    background: rgb(207, 231, 235);
    margin-top:15px;
}



.card-test {
    width: 14rem;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.card-img-test {
    width: 13.88rem;
    height: 13.88rem;
    filter: brightness(50%);
    position: relative;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

@media screen AND (max-width: 340px) {

    .card-img-test {
        width: 100%;
        height: 100%;
    }
    .card-test {
        width: 100%;
    }
}

.test-name-for-img:hover {
    color: #c2bc77
}

input {
    border-radius: 10px;
}






.label-for-category-select {
    font-size: 18px;
}

.select {
    margin-left: auto;
    margin-right: auto;
}

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
}
select::-ms-expand {
  display: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.select select, .select::after {
  grid-area: select;
}
.select:not(.select--multiple)::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
          clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

.select--disabled {
  cursor: not-allowed;
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}
